<app-navegacion></app-navegacion>
<div class="container card mt-4">
    <div class="row mt-4 justify-content-center">
      <div class="col-md-4">
        <div ngbDropdown>
          <button class="col-md-4 btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Máquina</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <table>
              <tr *ngFor="let maquina of maquinasArray" (click)="selectMaquina(maquina)">
                <td>
                  <button class="btn btn-outline-primary" ngbDropdownItem>{{maquina.descp}}</button>
                </td>
              </tr>
            </table>
          </div>
          <input type="text" [(ngModel)]="selectedTipoMaquina.descp" placeholder="Tipo máquina" class="col-md-8 align-middle w-50 form-control d-inline ml-4">
        </div>
      </div>
    </div>    
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div ngbDropdown>
          <button class="col-md-4 btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Pieza</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <table>
              <tr *ngFor="let pieza of piezasArray" (click)="selectPieza(pieza)">
                <td>
                  <button class="btn btn-outline-primary" ngbDropdownItem>{{pieza.descp}}</button>
                </td>
              </tr>
            </table>
          </div>
          <input type="text" [(ngModel)]="selectedTipoPieza.descp" placeholder="Tipo pieza" class="col-md-8 align-middle w-50 form-control d-inline ml-4">
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="form-group row align-items-center">
          <label for="cantidad" class="col-form-label col-md-4">Cantidad:</label>
          <div class="col-md-7">
            <input class="form-control" name="cantidad" type="number" [(ngModel)]="cantidad">
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <button (click)="agregarMaquinaPieza()" class="btn btn-success">Agregar</button>
      </div>
    </div>
</div>