<app-navegacion></app-navegacion>
<div class="container">
  <div class="card mt-4">
    <div class="row">
      <div class="col-4">
        <div ngbDropdown class="ml-2 mt-4">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Máquina</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <table>
              <tr *ngFor="let maquina of maquinasArray" (click)="selectMaquina(maquina)">
                <td>
                  <button class="btn btn-outline-primary" ngbDropdownItem>{{maquina.descp}}</button>
                </td>
              </tr>
            </table>
          </div>
          <input type="text" [(ngModel)]="selectedTipoMaquina.descp" placeholder="Tipo máquina" class="align-middle w-50 form-control d-inline ml-4">
        </div>
      </div>
      <div class="col-4">
        <div ngbDropdown class="ml-2 mt-4">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Pieza</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <table>
              <tr *ngFor="let pieza of piezasArray" (click)="selectPieza(pieza)">
                <td>
                  <button class="btn btn-outline-primary" ngbDropdownItem>{{pieza.descp}}</button>
                </td>
              </tr>
            </table>
          </div>
          <input type="text" [(ngModel)]="selectedTipoPieza.descp" placeholder="Tipo pieza" class="align-middle w-50 form-control d-inline ml-4">
        </div>
      </div>
      <div class="col-4">
        <div id="hola">block</div>
      </div>
    </div>
  </div>
</div>


<!--<div class="container">
  <div class="card">
    <div class="row">
        <div ngbDropdown class="ml-5 mb-4">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar Máquina</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <table>
              <tr *ngFor="let maquina of maquinasArray" (click)="selectMaquina(maquina)">
                <td>
                  <button class="btn btn-outline-primary" ngbDropdownItem>{{maquina.descp}}</button>
                </td>
              </tr>
            </table>
          </div>
          <input type="text" [(ngModel)]="selectedTipoMaquina.descp" placeholder="Tipo máquina" class="form-control">
      </div>
      <div ngbDropdown class="ml-5 mb-4">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Seleccionar Pieza</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <table>
            <tr *ngFor="let pieza of piezasArray" (click)="selectPieza(pieza)">
              <td>
                <button class="btn btn-outline-primary" ngbDropdownItem>{{pieza.descp}}</button>
              </td>
            </tr>
          </table>
        </div>
        <input type="text" [(ngModel)]="selectedTipoPieza.descp" placeholder="Tipo pieza" class="form-control">
    </div>
  </div>
</div>
-->