<app-navegacion></app-navegacion>
<div class="container">
    <div class="row mt-4 ml-0">
        <div class="col-md-12"></div>
        <div class="card  mr-4">
          <div class="card-body">
              <div class="card-title">
                  Agregar máquina
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="selectedTipoMaquina.descp" placeholder="Inserta descripción" class="form-control">
              </div>
              <button (click)="addOrEdit()" class="btn btn-primary">
                Enviar
              </button>
              <button
              *ngIf="selectedTipoMaquina.id !==0"
              class="ml-5 btn btn-danger"
              (click)="delete()"
              >
                Eliminar
              </button>
            </div>
          </div>
        <ul class="list-group">
            <li *ngFor='let tipomaquina of tiposMaquinaArray'
                class="list-group-item"
                (click)="openForEdit(tipomaquina)"
                [class.active]="tipomaquina == selectedTipoMaquina"
                >
                <span class="badge badge-primary">{{tipomaquina.id}}</span>
                {{tipomaquina.descp}}
            </li>
        </ul>
    </div>
</div>
